<div class="container">  <br>
<a class="navbar-brand" routerLink="/home"><img style="width: 120px; height: 30px;" src="../../assets/bank_logo.png" alt=""> Commercial Bank </a>
</div>
<div class="container">
 <br>    
<div class="row">

    <img  class="img-fluid" style="height: 390px; width: 1200px; margin-left: 65px;" src="../../assets/bg_img.jpg" alt="">
</div> 
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="card m-2" routerLink="/viewallcustomer">
                        <img class="img-thumbnail img-fluid" src="../../assets/bankcustomer.jpg" alt="">
                        <button routerLink="/viewallcustomer" class="card-text btn btn-info btn-block">View All Customer</button>
                    </div> 
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="card m-2" routerLink="/transferhistory">
                        <img class="img-thumbnail img-fluid" src="../../assets/banktransfer.jpg" alt="">
                        <button routerLink="/transferhistory" class="btn btn-info btn-block">Transfer History</button>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </div>
</div>
<div class="card text-center" > 
    <div class="card-footer text-muted">
      <span> &copy;</span> 2021 | The Sparks Foundation | Basic Banking System | Saransh Shrimali
    </div>
</div>
